.toolsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  margin-bottom: 1rem;
}

.toolsIconTile {
  display: flex;
  align-items: center;
  transition: transform 250ms;
}

.toolsIconTile:hover {
  cursor: pointer;
  transform: translateY(-0.75rem);
}

.toolsIconTile a {
  color: var(--Snow);
}