.toolsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  column-gap: calc(1rem + 1vw);
  margin: 1rem 0;
  padding-inline: 1rem;
}

.toolsIconTile {
  display: flex;
  align-items: center;
  transition: transform 250ms ease;
}

.toolsIconTile img,
.toolsIconTile p {
  flex: 2;
}

.toolsIconTile:hover {
  cursor: pointer;
  transform: translateY(-0.75rem);
}

.toolsIconTile a {
  color: var(--Snow);
}

@media all and (max-width: 530px) {
  .toolsIconTile {
    flex-direction: column;
  }

  .toolsIconTile img {
    flex: 4;
  }

  .toolsIconTile p {
    flex: 2;
  }

  .toolsContainer {
    row-gap: 1.5rem;
  }

  .toolsIconTile:hover {
    transform: none;
  }
}
