.homePageSection {
  height: 85vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.homeTextContainer {
  flex: 1;
  max-width: 70%;
  margin-inline: auto;
  text-align: center;
}

.title {
  font-size: calc(4rem + 1vw);
}

.subTitle {
  font-size: calc(1.25rem + 1vw);
}

.title,
.subTitle {
  margin-bottom: 1rem;
}

@media all and (max-width: 530px) {
  .homeTextContainer {
    max-width: 90%;
    margin-inline: auto;
  }

  .title {
    font-size: calc(3.25rem + 1vw);
  }

  .subTitle {
    font-size: calc(1.1rem + 1vw);
  }

  .title,
  .subTitle {
    margin-bottom: 1.25rem;
  }
}
