.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.NavBar > * {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
}

.NavBarMain {
  justify-content: space-between;
  min-width: 26rem;
  list-style-type: none;
}

.NavBarLink {
  margin: 0.25rem;
  padding: 0.25rem 0;
  text-decoration: none;
  color: var(--Snow);
}

.NavBarActiveLink {
  color: var(--TickleMePink);
  border-bottom: 0.25rem solid var(--TickleMePink);
}