.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.NavBar > * {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
}

.NavCheckBoxLabel,
#NavCheckBox {
  display: none;
}

.NavBar ul {
  list-style-type: none;
}

.NavBarMain {
  justify-content: space-between;
  gap: 1rem;
}

.NavBarLink {
  margin: 0.25rem;
  padding: 0.25rem 0;
  text-decoration: none;
  color: var(--Snow);
}

.NavBarActiveLink {
  color: var(--TickleMePink);
  border-bottom: 0.25rem solid var(--TickleMePink);
}

@media all and (max-width: 530px) {
  .NavBar {
    width: calc(100% - 6rem);
    margin: 0.5rem 3rem;
    justify-content: space-between;
  }

  .NavCheckBoxLabel {
    min-width: 50px;
    min-height: 50px;
    z-index: 999;
    display: block;
  }

  #NavCheckBox {
    display: none;
  }

  #NavCheckBox:not(:checked) ~ .NavBarMain {
    display: none;
  }

  #NavCheckBox:checked ~ .NavBarMain {
    background-color: hsla(0, 0%, 0%, 1);
    padding: 1rem;
    padding-top: calc(1rem + 50px);
    border-radius: 0.5rem;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    position: absolute;
    right: 0.1%;
    top: 0.1vh;
    z-index: 998;
    font-size: 1rem;
  }
}